<div class="card" routerLink="{{restaurantData.restaurantId}}">
    <!-- <div class="d-flex justify-content-center" *ngIf="hasImages">

    </div> -->
    <!-- <div class="d-flex">

    </div> -->
    <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-content-center">
            <h5 class="text-center m-0">{{restaurantData.restaurantName}}</h5>
            <div>
                <br/>
                <p class="card-text text-center">*** Reviews</p>
                <p class="card-text text-center">{{restaurantData.city}}, {{restaurantData.state}}</p>
            </div>
        </div>
    </div>
</div>
